@use "../../styles/commonStyle.scss";

@include commonStyle.mobile {
  .button_group {
    button {
      font-size: 18px;
      width: 250px;
    }
  }
}

@include commonStyle.tablet {
  .button_group {
    button {
      font-size: 20px;
      width: 300px;
    }
  }
}

@include commonStyle.desktop {
  .button_group {
    button {
      font-size: 22px;
      width: 350px;
    }
  }
}

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    margin: 0;
  }
}

.button_group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  & button {
    border-radius: 20px;
    padding: 10px;
    border: none;
  }
}

.kakao_button {
  background-color: #ffe300;
  color: #1E1E1E;
}

.spotify_button {
  background-color: #1ED760;
  color: white;
}