.album-player-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.micro-sized-player {
  position: relative;
  background-size: cover;
  justify-content: center;
  align-items: center;

  button {
    color: #1ed760;
    font-size: 36px;
    opacity: 70%;
    mix-blend-mode: difference;

    &:hover {
      opacity: 100%;
    }
  }
}

.mini-sized-player {
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 16px;
  position: relative;

  .left-part {
    display: flex;
    justify-content: start;
    gap: 16px;
    overflow: hidden;
  }

  .album-cover-container {
    width: calc(120px - 2 * 16px); // 높이, 패딩
    height: calc(120px - 2 * 16px);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: auto 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .album-info {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;

    p {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-clamp: 1;
      word-break: break-all;
      margin: 0;
    }

    .current-track-name {
      font-weight: bold;
    }
  }

  .right-part {
    display: flex;
    justify-content: end;
    gap: 20px;
    position: relative;
    margin-top: auto;
  }

  .button-group {
    display: flex;
    gap: 12px;
    height: fit-content;
    margin: auto 0;
  }

  .previous-button {
    font-size: 24px;
  }

  .play-button {
    font-size: 28px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }

  .next-button {
    font-size: 24px;
  }
}

.mini-sized-player--large {
  justify-content: space-between;

  .left-part {
    flex: 1;
  }

  .right-part {
    flex-direction: row;
  }
}

.mini-sized-player--small {
  .right-part {
    flex-direction: column;
  }
}

.max-sized-player {
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;

  .upper-content {
    display: flex;
    gap: 40px;
  }

  .lower-content {
  }

  // Left Content
  .upper-left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .album-cover-container {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    & img {
      width: 100%;
      height: 100%;
      vertical-align: middle;
    }
  }

  .button_group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    & button {
      font-size: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .prev_button {
  }

  .play_button {
    background-color: black;
    color: white;
  }

  .next_button {
    display: flex;
    align-items: center;
  }

  // Right Content
  .upper-right-content {
    flex: 1;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .album_info {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }

  .album_name {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .album_artist {
    margin-left: 5px;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .track_list_container {
  }
}

.max-sized-player--small {
  gap: 16px;

  .upper-left-content {
    width: 120px;
  }

  .upper-right-content {
    justify-content: space-between;
  }

  .lower-content {
    height: calc(100% - 120px - 16px);

    .track_list_container {
      height: 100%;
    }
  }
}

.max-sized-player--large {
  .upper-content {
    width: 100%;
    height: 100%;
  }

  .upper-left-content {
    width: 180px;
  }

  .upper-right-content .track_list_container {
    height: calc(100% - 50px);
  }
}
