@use "./variables" as *;
@use "./commonStyle.scss";

@include commonStyle.mini_mobile {
  .left_header_content {
    & button {
      font-size: 13px;
    }
  }

  .left_header_content_divider {
    font-size: 13px;
  }

  .right_header_content {
    & button {
      font-size: 13px;
      
    }
  }
}

@include commonStyle.regular_mobile {
  .left_header_content {
    & button {
      font-size: 14px;
    }
  }

  .left_header_content_divider {
    font-size: 14px;
  }

  .right_header_content {
    & button {
      font-size: 14px;
      
    }
  }
}

@include commonStyle.tablet {
  .left_header_content {
    & button {
      font-size: 15px;
    }
  }

  .left_header_content_divider {
    font-size: 15px;
  }

  .right_header_content {
    & button {
      font-size: 15px;
      
    }
  }
}

@include commonStyle.desktop {
  .left_header_content {
    & button {
      font-size: 16px;
    }
  }

  .left_header_content_divider {
    font-size: 16px;
  }

  .right_header_content {
    & button {
      font-size: 16px;
      
    }
  }
}

header {
  display: flex;
  background-color: black;
  height: $header-size;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;

  & button {
    all: unset;
    color: white;
    cursor: pointer;
    
    & a {
      color: white;
    }
  }
}

.header_content {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.left_header_content {
  display: flex;
  align-items: center;
}

.left_header_content_divider {
  margin: 0 10px;
  color: white;
}

.right_header_content {
  display: flex;
  align-items: center;
}