$modal-header-size: 40px;

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal_popup {
  border: 1px solid black;
  background-color: white;
  z-index: 10;
  overflow: hidden;
}

.modal_title {
  width: 100%;
  box-sizing: border-box;
  height: #{$modal-header-size};
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0 10px;

  & p {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.modal_content_container {
  padding: 15px;
  height: calc(100% - #{$modal-header-size});
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal_button_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.modal_button {
  width: 80px;
  height: 40px;
  border-radius: 20px;

  & + & {
    margin-left: 10px;
  }
}
