.player-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.player-container.minimised {
  height: 120px;
}

.player-container.maximised {
  height: 280px;
}

.error-container {
  flex-direction: column;
}

.retry_button {
  padding: 0.5rem 2rem;
  border-radius: 10px;
}

.track-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.track-item {
  background-color: transparent;
  color: black;
  font-size: 15px;
  height: 45px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;

  &:hover {
    background-color: rgb(220, 220, 220);
  }

  &--selected {
    background-color: black;
    color: white;
    border-radius: 10px;

    &:hover {
      background-color: black;
    }
  }

  .track-item-index {
    width: 28px;
  }
}

.player-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba($color: white, $alpha: 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .action-button {
    padding: 8px 22px;
    border-radius: 16px;
  }
}
