#turntable {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;

  &--pointable {
    
  }
}

.turntable-button {
  display: flex;
  align-items: center;

  & + & {
    margin-top: 10px;
  }
}

.turntable-control-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #A5A5A5;
  font-size: 18px;
  background-color: white;
  // color: #A5A5A5;
}

.menu-button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  height: fit-content;
  width: fit-content;

  & + & {
    margin-top: 10px;
  }
}