.carousel_container {
  display: flex;
  align-items: center;
  position: relative;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d; 
  perspective: 800px;
  overflow: hidden;
  cursor: pointer;
}

.carousel_item {
  position: absolute;
  width: 35%;
  aspect-ratio: 1;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out, filter 0.8s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.carousel_current_item {
  z-index: 1;
  transform: scale(1) translateZ(100px);
  opacity: 1;
}

.carousel_prev_item {
  transform: scale(0.9) translateX(-100%) translateZ(0px);
  opacity: 1;
  filter: brightness(0.8);
}

.carousel_next_item {
  transform: scale(0.9) translateX(100%) translateZ(0px); 
  opacity: 1;
  filter: brightness(0.8);
}

.carousel_other_item {
  display: none;
}

.carousel_hidden_item {
  transform: scale(0.8) translateZ(-100px);
  opacity: 0;
}

.carousel_button {
  font-size: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  background-color: white;
  opacity: 0.5;
  
  &:hover {
    opacity: 1;
  }
}

.prev_button {
  left: 10px;
}

.next_button {
  right: 10px;
}