#mini_music_player {
  --padding-size: 15px;
  --button-size: 40px;

  width: calc(100% - 2 * var(--padding-size));
  padding: var(--padding-size);
  position: relative;

  /* Top Content */
  .top_content {
    height: calc(200px - 2 * var(--padding-size));

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .album_info {
    display: flex;
    align-items: center;

    & p {
      margin: 0;
    }
  }

  .album_name {
    font-size: 17px;
    font-weight: bold;
  }

  .album_artist {
    margin-left: 5px !important;
  }

  .track_info {
    display: flex;
    align-items: center;
  }

  .album_cover {
    width: 100px;

    & img {
      width: 100%;
      aspect-ratio: 1;
      vertical-align: middle;
      position: relative !important;
    }
  }

  .playing_info {
    width: calc(100% - 100px - 10px - var(--button-size));
    margin-left: 10px;

    & p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;
    }
  }

  .track_name {
    margin-bottom: 10px !important;
  }

  .track_artist {

  }

  .button_group {
    display: flex;
    justify-content: space-between;

    & button {
      font-size: 18px;

      border-radius: 50%;
      background-color: black;
      color: white;
      width: 35px;
      height: 35px;
    }
  }

  .play_button {

  }

  /* Bottom Content */
  .bottom_content {
    padding-top: 10px;
    height: 150px;
  }

  /* Expand Button */
  #expand_button {
    position: absolute;
    width: 25px;
    height: 12px;
    top: 0;
    background-color: black;
    color: white;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    border-radius: 0 0 8px 8px;
  }

  /* Alert */
  .alert_container {
    flex-direction: row;
  }

  .alert_message {
    text-align: center;
  }

  .alert_button_group {
    display: flex;
    margin-left: 10px;
    gap: 5px;

    & button {
      border-radius: 50%;
      width: var(--button-size);
      height: var(--button-size);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .signin_button {
    color: white;
  }

  .return_button {

  }

  .error_icon {
    font-size: 20px;
  }
}
