@use "../styles/variables" as *;
@use "../styles/commonStyle.scss";

@include commonStyle.mobile {
  .home_content_text {
    font-size: 50px;
  }

  .home_content_button {
    font-size: 15px;
  }

  .sample-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include commonStyle.tablet {
  .home_content_text {
    font-size: 60px;
  }

  .home_content_button {
    font-size: 18px;
  }

  .sample-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include commonStyle.desktop {
  .home_content_text {
    font-size: 75px;
  }

  .home_content_button {
    font-size: 20px;
  }

  .sample-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

.home_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100%;
  max-height: calc(100dvh - #{$header-size});
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_content_text {
  text-align: center;
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sample-list {
  display: grid;
  width: 100%;
  filter: opacity(0.5);
}

.sample-list-item {
  position: relative;
  aspect-ratio: 1;

  --base-size: calc(100% / 1.3);
  --margin-factor: 0.15;

  width: var(--base-size);

  margin-left: calc(var(--base-size) * var(--margin-factor));
  margin-right: calc(var(--base-size) * var(--margin-factor));
  margin-bottom: calc(var(--base-size) * var(--margin-factor));
  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  opacity: 0;
  animation: appear 1s ease-in-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
