@use "../variables" as *;

.main_layout {
  min-height: 100dvh;
  overflow: hidden;

  .page_divider {
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .page_sub_divider {
    width: 100%;
    height: 1px;
    background-color: rgb(99, 99, 99);
  }
}

.content_container {
  max-width: var(--default-max-width);
  min-height: calc(100dvh - #{$header-size});
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;

  & .page_title {
    margin: 0;
    padding-top: 20px;
  }
}
