@use "../../styles/commonStyle.scss";

@include commonStyle.mini_mobile {
  .collection_list_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

@include commonStyle.regular_mobile {
  .collection_list_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}

@include commonStyle.tablet {
  .collection_list_container {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@include commonStyle.desktop {
  .collection_list_container {
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
}

.collection_list_container {
  display: grid;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.page_explanation {
  margin: 0;
  margin-top: 10px;
  font-size: 15px;
}

.page_divider {
  margin: 30px 0 20px 0;
}

.collection_skeleton_category {
  height: 40px;
  background-color: rgba(176, 176, 176, 0.5);
  border-radius: 10px;
}

.collection_skeleton_item {
  width: 100%;
}

.collection_skeleton_image {
  aspect-ratio: 1;
  width: 100%;
  background-color: rgba(176, 176, 176, 0.5);
  border-radius: 10px;
}

.collection_skeleton_description {
  width: 100%;
  height: calc(13px + 15px);
  margin-top: 5px;
  background-color: rgba(176, 176, 176, 0.5);
  border-radius: 10px;
}

.collection_category {
  display: flex;
}

.collection_category_item {
  padding: 10px;
  cursor: pointer;

  &.selected {
    border-bottom: 2px solid black;
  }
}